#play {
display: block;
margin: auto;
width: 400px;
border: 22px solid rgba(221, 79, 33, 0.88);
border-top: 22px solid rgba(221, 79, 33, 0.88);
border-bottom: 22px solid rgba(221, 79, 33, 0.88);
margin-bottom: 0px;
border-bottom-right-radius: 1px;
border-bottom-left-radius: 45px;
}


.well {
  width: 247px;
  display: block;
  margin: auto;
  margin-bottom: 0px;
  border-radius: 25px;
  border-bottom-right-radius: 1px;
}

h4 {
  background-color: rgba(221, 79, 33, 0.88);
  color: #0a1644;
  font-size: 11pt;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  width: 400px;
  display: block;
  margin: auto;
  padding-top: 22px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}


#vaca-form {
  background-color: rgba(221, 79, 33, 0.88);
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 22px;
  padding-top: 22px;
  width: 400px;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 7px;
  border-top-right-radius: 2px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
}


label {
  font-family: sans-serif;
  font-weight: normal;
  color: #0a1644;
  text-align: center;
  font-size: 12pt;
}

select {
  display: block;
  margin: auto;
  width: 247px;
  font-size: 12pt;
  margin-bottom: 0px;
  font-family: sans-serif;
  font-weight: normal;
  color: #0a1644;
  text-align: center;
}


#btn-red {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 6px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 10pt;
  width: 253px;
  height: 35px;
  border-radius: 20px;
  border-top-right-radius: 1px;
  border: 1px solid grey;
}

.italy, .paris, .cancun {
  display: block;
  margin: auto;
  width: 400px;
  border: 22px solid rgba(221, 79, 33, 0.88);
  border-top-right-radius: 2px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 22px;
  font-family: sans-serif;
  font-style: Oswald;
  font-weight: normal;
  color: #0a1644;
  text-align: center;
  font-size: 15pt;
}
