#play {
display: block;
margin: auto;
width: 400px;
border: 22px solid rgba(221, 79, 33, 0.88);
border-top: 22px solid rgba(221, 79, 33, 0.88);
border-bottom: 22px solid rgba(221, 79, 33, 0.88);
margin-bottom: 0px;
border-bottom-right-radius: 1px;
border-bottom-left-radius: 45px;
}


.well {
  width: 247px;
  display: block;
  margin: auto;
  margin-bottom: 0px;
  border-radius: 25px;
  border-bottom-right-radius: 1px;
  background-color: #203f90;
  color: white;
  font-size: 13pt;
  border: 3px solid #c08e42;
}

h4 {
  background-color: rgba(221, 79, 33, 0.88);
  color: #0a1644;
  font-size: 11pt;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  width: 400px;
  display: block;
  margin: auto;
  padding-top: 22px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}


img {
  height: 345px;

}



#pizza-form {
  color: #203f90;
  background-color: rgba(221, 79, 33, 0.88);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 22px;
  padding-top: 22px;
  width: 400px;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 7px;
  border-top-right-radius: 2px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
}


label {
  font-family: sans-serif;
  font-weight: normal;
  color: white;
  text-align: center;
  font-size: 14pt;
}

select {
  display: block;
  margin: auto;
  width: 247px;
  font-size: 12pt;
  margin-bottom: 0px;
  font-family: sans-serif;
  font-weight: normal;
  color: #203f90;
  text-align: center;
}


#btn-red {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 6px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 10pt;
  width: 253px;
  height: 35px;
  border-radius: 20px;
  border-top-right-radius: 1px;
  border: 2px solid #c08e42;
  background-color: #203f90;
  color: white;
}

.show-pizza {
  display: block;
  margin: auto;
  width: 350px;
  border: 22px solid rgba(221, 79, 33, 0.88);
  border-top-right-radius: 2px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 22px;
  font-family: sans-serif;
  font-style: Oswald;
  font-weight: normal;
  background-color: #203f90;
  color: white;
  text-align: center;
  font-size: 13pt;
}
